                <link rel="stylesheet" href="/frontend/css/slick.min.css">

                <div class="container-fluid component shopping animate-in pb-100 pt-100 mb-200" id="shopping" data-control="SHOPPING">
                    <nav class="container">
                        <ul class="shopping-nav-desktop">
                            <f:for each="{records}" as="record" iteration="iteratorOne">
                            <f:if condition="{iteratorOne.index} == '0'">
                                <f:then>
                                    <li class="active"><a href="javascript:;" data-area="{record.tablabel}">{record.tablabel}</a></li>
                                </f:then>
                                <f:else>
                                    <li><a href="javascript:;" data-area="{record.tablabel}">{record.tablabel}</a></li>
                                </f:else>
                                </f:if>
                            </f:for>
                        </ul>
                    </nav>
                
                    <div class="container p-0">
                        <div class="shopping-navigation">
                            <button data-control="PROXIMITY" class="arrow previous" id="slider-shopping-nav-prev"><span></span></button>
                            <button data-control="PROXIMITY" class="arrow next" id="slider-shopping-nav-next"><span></span></button>
                        </div>
                    </div>
                
                    <ul class="shopping-slider">
                        <f:for each="{records}" as="record" iteration="iterator">
                            <f:variable name="rowLeftClass">col-12 col-xl-5 order-xl-1</f:variable>
                            <f:variable name="rowRightClass">col-12 offset-xl-1 col-xl-5 order-xl-0</f:variable>
                            <f:if condition="{record.tablabel} == 'Passage'">
                                <f:variable name="bigOrMdium"></f:variable>
                                <f:variable name="rowLeftClass">col-12 col-xl-5 order-xl-1</f:variable>
                                <f:variable name="rowRightClass">col-12 offset-xl-1 col-xl-5 order-xl-0</f:variable>
                                <f:variable name="mtfourty"></f:variable>
                            </f:if>
                            <f:if condition="{record.tablabel} == 'Salon'">
                                <f:variable name="bigOrMdium">big</f:variable>
                                <f:variable name="rowLeftClass">col-12 offset-xl-1 col-xl-5 order-xl-1</f:variable>
                                <f:variable name="rowRightClass">col-12 offset-xl-1 col-xl-5 order-xl-0</f:variable>
                                <f:variable name="mtfourty"></f:variable>
                            </f:if>
                            <f:if condition="{record.tablabel} == 'Atrium'">
                                <f:variable name="bigOrMdium">big</f:variable>
                                <f:variable name="rowLeftClass">col-12 col-xl-5 order-xl-1</f:variable>
                                <f:variable name="rowRightClass">col-12 offset-xl-1 col-xl-6 order-xl-0</f:variable>
                                <f:variable name="mtfourty">mt-40</f:variable>
                            </f:if>
                            <f:if condition="{record.tablabel} == 'Atelier'">
                                <f:variable name="bigOrMdium">meduim</f:variable>
                                <f:variable name="rowLeftClass">col-12 col-xl-5 order-xl-1</f:variable>
                                <f:variable name="rowRightClass">col-12 offset-xl-1 col-xl-6 order-xl-0 pr-0</f:variable>
                                <f:variable name="mtfourty"></f:variable>
                            </f:if>
                        <li>
                            <button class="accordion-btn">{record.tablabel}<span></span></button>
                            <div class="accordion-container">
                                <section class="container">
                                    <div class="row">
                                        <div class="{rowLeftClass}">
                                            <figure data-control="EXPLODE" id="shopping-images" class="shopping-image image-level-1 tilt">
                                                <f:if condition="{record.topimage}">
                                                    <f:for each="{record.topimage}" as="topimageone" iteration="iteratortopimage">
                                                        <img  class="img-fluid b-lazy {topimageone.originalResource.description}" data-src="{topimageone.originalResource.publicUrl}" src="{topimageone.originalResource.publicUrl}" />
                                                    </f:for>
                                                </f:if>  
                                            </figure>
                                        </div>
                                        <div class="{rowRightClass}">
                                            <header>
                                                <h1 data-control="PROXIMITY" id="shopping-header">{record.toptitle}<span>{record.toptitle}</span></h1>
                                                <p>{record.topdescription}</p>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="row mb-60">
                                        <div class="col-xl-6 col-12">
                                            <figure class="shopping-image image-level-2">
                                                <f:if condition="{record.middleimage}">
                                                    <img  class="img-fluid b-lazy" data-src="{record.middleimage.originalResource.publicUrl}" src="{record.middleimage.originalResource.publicUrl}" />
                                                </f:if>
                                            </figure>
                                        </div>
                                        <div class="col-xl-5 offset-xl-1 col-12 pl-40 {mtfourty}">
                                            <f:if condition="{record.middletitle}"><h4 class="fade-in">{record.middletitle}</h4></f:if>
                                            <f:if condition="{record.middledescription}">{record.middledescription -> f:format.html()}</f:if>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-12">
                                            <div class="list-area">
                                                <div class="list-area-items {bigOrMdium}">
                                                    <span class="color-1"><f:if condition="{record.lefttoplabel}">{record.lefttoplabel}</f:if></span>
                                                    <f:if condition="{record.lefttopimagefirst}">
                                                    <ul class="mt-15">
                                                       <f:if condition="{record.lefttopimagefirst}">                                    
                                                            <f:for each="{record.lefttopimagefirst}" as="lefttopimagefirst" iteration="iteratorlefttopimage">
                                                                <f:if condition="{iteratorlefttopimage.isLast}">
                                                                    <f:variable name="tbgimageone">{lefttopimagefirst.originalResource.publicUrl}</f:variable>
                                                                </f:if>
                                                                <f:if condition="{iteratorlefttopimage.isFirst}">
                                                                    <f:variable name="tfrontimageone">{lefttopimagefirst.originalResource.publicUrl}</f:variable>
                                                                    <f:variable name="tfrontcaptionone">{lefttopimagefirst.originalResource.description}</f:variable>
                                                                </f:if>                                        
                                                            </f:for>  
                                                            <li>
                                                                <a href="{tbgimageone}" class="image-link">
                                                                    <p>{tfrontcaptionone}</p>
                                                                    <img data-src="{tfrontimageone}" src="{tfrontimageone}"  alt="{tfrontcaptionone}" />
                                                                </a>
                                                            </li>  
                                                        </f:if>
                                                        <f:if condition="{record.lefttopimagesecond}">                                    
                                                            <f:for each="{record.lefttopimagesecond}" as="lefttopimagesecond" iteration="iteratorlefttopimage">
                                                                <f:if condition="{iteratorlefttopimage.isLast}">
                                                                    <f:variable name="tbgimagesecond">{lefttopimagesecond.originalResource.publicUrl}</f:variable>
                                                                </f:if>
                                                                <f:if condition="{iteratorlefttopimage.isFirst}">
                                                                    <f:variable name="tfrontimagesecond">{lefttopimagesecond.originalResource.publicUrl}</f:variable>
                                                                    <f:variable name="tfrontcaptionsecond">{lefttopimagesecond.originalResource.description}</f:variable>
                                                                </f:if>                                        
                                                            </f:for>  
                                                            <li>
                                                                <a href="{tbgimagesecond}" class="image-link">
                                                                    <p>{tfrontcaptionsecond}</p>
                                                                    <img data-src="{tfrontimagesecond}" src="{tfrontimagesecond}"  alt="{tfrontcaptionsecond}" />
                                                                </a>
                                                            </li>  
                                                        </f:if>
                                                        <f:if condition="{record.lefttopimagethird}">                                    
                                                            <f:for each="{record.lefttopimagethird}" as="lefttopimagethird" iteration="iteratorlefttopimage">
                                                                <f:if condition="{iteratorlefttopimage.isLast}">
                                                                    <f:variable name="tbgimagethird">{lefttopimagethird.originalResource.publicUrl}</f:variable>
                                                                </f:if>
                                                                <f:if condition="{iteratorlefttopimage.isFirst}">
                                                                    <f:variable name="tfrontimagethird">{lefttopimagethird.originalResource.publicUrl}</f:variable>
                                                                    <f:variable name="tfrontcaptionthird">{lefttopimagethird.originalResource.description}</f:variable>
                                                                </f:if>                                        
                                                            </f:for>  
                                                            <li>
                                                                <a href="{tbgimagethird}" class="image-link">
                                                                    <p>{tfrontcaptionthird}</p>
                                                                    <img data-src="{tfrontimagethird}" src="{tfrontimagethird}"  alt="{tfrontcaptionthird}" />
                                                                </a>
                                                            </li>  
                                                        </f:if>
                                                    </ul>
                                                    </f:if>
                                                </div>
                                                <div class="list-area-items">
                                                    <span class="color-2"><f:if condition="{record.leftbottomlabel}">{record.leftbottomlabel}</f:if></span>
                                                    <f:if condition="{record.leftbottomimagefirst}">
                                                    <ul class="mt-15">
                                                        <f:if condition="{record.leftbottomimagefirst}">                                    
                                                            <f:for each="{record.leftbottomimagefirst}" as="leftbottomimagefirst" iteration="iteratorleftbottomimage">
                                                                <f:if condition="{iteratorleftbottomimage.isLast}">
                                                                    <f:variable name="bbgimageone">{leftbottomimagefirst.originalResource.publicUrl}</f:variable>
                                                                </f:if>
                                                                <f:if condition="{iteratorleftbottomimage.isFirst}">
                                                                    <f:variable name="bfrontimageone">{leftbottomimagefirst.originalResource.publicUrl}</f:variable>
                                                                    <f:variable name="bfrontcaptionone">{leftbottomimagefirst.originalResource.description}</f:variable>
                                                                </f:if>                                        
                                                            </f:for>  
                                                            <li>
                                                                <a href="{bbgimageone}" class="image-link">
                                                                    <p>{bfrontcaptionone}</p>
                                                                    <img data-src="{bfrontimageone}" src="{bfrontimageone}"  alt="{bfrontcaptionone}" />
                                                                </a>
                                                            </li>  
                                                        </f:if>
                                                        <f:if condition="{record.leftbottomimagesecond}">                                    
                                                            <f:for each="{record.leftbottomimagesecond}" as="leftbottomimagesecond" iteration="iteratorleftbottomimage">
                                                                <f:if condition="{iteratorleftbottomimage.isLast}">
                                                                    <f:variable name="bbgimagesecond">{leftbottomimagesecond.originalResource.publicUrl}</f:variable>
                                                                </f:if>
                                                                <f:if condition="{iteratorleftbottomimage.isFirst}">
                                                                    <f:variable name="bfrontimagesecond">{leftbottomimagesecond.originalResource.publicUrl}</f:variable>
                                                                    <f:variable name="bfrontcaptionsecond">{leftbottomimagesecond.originalResource.description}</f:variable>
                                                                </f:if>                                        
                                                            </f:for>  
                                                            <li>
                                                                <a href="{bbgimagesecond}" class="image-link">
                                                                    <p>{bfrontcaptionsecond}</p>
                                                                    <img data-src="{bfrontimagesecond}" src="{bfrontimagesecond}"  alt="{bfrontcaptionsecond}" />
                                                                </a>
                                                            </li>  
                                                        </f:if>
                                                        <f:if condition="{record.leftbottomimagethird}">                                    
                                                            <f:for each="{record.leftbottomimagethird}" as="leftbottomimagethird" iteration="iteratorleftbottomimage">
                                                                <f:if condition="{iteratorleftbottomimage.isLast}">
                                                                    <f:variable name="bbgimagethird">{leftbottomimagethird.originalResource.publicUrl}</f:variable>
                                                                </f:if>
                                                                <f:if condition="{iteratorleftbottomimage.isFirst}">
                                                                    <f:variable name="bfrontimagethird">{leftbottomimagethird.originalResource.publicUrl}</f:variable>
                                                                    <f:variable name="bfrontcaptionthird">{leftbottomimagethird.originalResource.description}</f:variable>
                                                                </f:if>                                        
                                                            </f:for>  
                                                            <li>
                                                                <a href="{bbgimagethird}" class="image-link">
                                                                    <p>{bfrontcaptionthird}</p>
                                                                    <img data-src="{bfrontimagethird}" src="{bfrontimagethird}"  alt="{bfrontcaptionthird}" />
                                                                </a>
                                                            </li>  
                                                        </f:if>
                                                    </ul>
                                                    </f:if>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-xl-5 offset-xl-1 col-12">
                                            <figure class="shopping-image image-level-3">
                                                <f:if condition="{record.bottomimage}">
                                                    <img  class="img-fluid b-lazy" data-src="{record.bottomimage.originalResource.publicUrl}" src="{record.bottomimage.originalResource.publicUrl}" />
                                                </f:if>
                                            </figure>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </li>
                        
                        </f:for>   
                    </ul>
                </div>